.collection-title {
  font-weight: 500;
  font-size: 38px;
  color: #000;
  margin-bottom: 30px;
}

.add-collection-btn {
  display: inline-block;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  i {
    font-size: 12px;
    margin: 0 5px 0 0;
  }
}
